<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
 <div class="container" id="header" th:fragment="header" style="display: inline;">
		<header class="encabezado">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="cargarusuario">
                <img src="img/logo.svg" style="height: 5rem; overflow: hidden;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="Titulo" aria-current="page" href="mostrarusuario" style="cursor: pointer; font-family: 'Seaweed Script', cursive;">Nombre</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Principal</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Opciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Cursos disponibles</a></li>
                    <li><a class="dropdown-item" href="#">Ultimos cursos</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height:5vh; display: flex; align-items: center;">
                <button class="btn btn-outline-success" type="submit" style=" color: #212121; border-radius: 12px; border: #212121 solid 1px;" onmouseover="this.style.backgroundColor='#212121'; this.style.color='#f1f1f1'" onmouseout="this.style.backgroundColor='#f1f1f1'; this.style.color='#212121'">Search</button>
            </form>
            </div>
        </div>
        </nav>
		</header>
 </div>

</body>

</html>